<!-- app/views/usermodule/addresses/_form.html.erb -->
<div>
  <!-- Country Input -->
  <div class="field">
    <label for="address_country_name">Country:</label>
    <%= form.text_field :country_name, 
                        class: "form-input mt-1 block w-full", 
                        required: true %>
  </div>
</div>

<div>
  <!-- State Input -->
  <div class="field">
    <label for="address_state_name">State:</label>
    <%= form.text_field :state_name, 
                        class: "form-input mt-1 block w-full", 
                        required: true %>
  </div>
</div>

<div>
  <!-- City Input -->
  <div class="field">
    <label for="address_city_name">City:</label>
    <%= form.text_field :city_name, 
                        class: "form-input mt-1 block w-full", 
                        required: true %>
  </div>
</div>